<label>Add a Learnable</label>
<form class="form-group" method="post" action="/users/<%=current_user.id%>/learnables">
  <input id="edit_dash" type="text" name="add_learnable">
  <button type="submit" class="btn btn-default">Add</button>
</form>