<form role="search" method="get" id="user_list">
  <div class="form-group">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input id="user_search" autocomplete="off"type="text" class="form-control" name="query" placeholder="Search" >
    </div>
    <button type="submit" method="post" action="/users" id="search_button" class="btn btn-primary">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </div>
</form>
 